################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/Vietmap.APIs.Demo/v16
/Vietmap.APIs.Demo/obj/Debug
/Vietmap.APIs.Demo/bin/Debug
