<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <bindingRedirect oldVersion="0.0.0.0-1.0.115.0" newVersion="1.0.115.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.115.0" newVersion="1.0.115.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>    
    <!--{API_KEY}-->
    <add key="tile-map" value="https://maps.vietmap.vn/api/tm/{z}/{x}/{y}.png?apikey={API_KEY}" />    
    <add key="api-routing" value="https://maps.vietmap.vn/api/route?api-version=1.1&amp;apikey={API_KEY}&amp;vehicle=car&amp;point={lat_s},{long_s}&amp;point={lat_e},{long_e}" />    
  </appSettings>
</configuration>